@import "./fonts";

* {
    font-family: 'SuzanoText', sans-serif !important;
}

body {
    color: #45433a !important;
    font-family: 'SuzanoText', sans-serif !important;
    background-color: #e7e6e6 !important;
}

#home_title {
    font-family: 'SuzanoTextBold', sans-serif !important;
}